PORT=":8080"
DB_SOURCE="postgres://admin:root@localhost:5434/monster-stack-go?sslmode=disable"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

REFRESH_TOKEN_KEY=""
REFRESH_TOKEN_TIME=0

ACCESS_TOKEN_KEY=""
ACCESS_TOKEN_TIME=0

SECURE_COOKIES=false
WEBSITE="http://localhost:5173"
DOMAIN="localhost"
